**Importation of libraries**

In [32]:
import yfinance as yf
import pandas as pd

**Importation of Yield Curve Euro**

In [41]:
dftaux = pd.read_csv(filepath_or_buffer = './Taux Euro.csv',sep = ',')
dftaux.head()

,KEY,FREQ,REF_AREA,CURRENCY,PROVIDER_FM,INSTRUMENT_FM,PROVIDER_FM_ID,DATA_TYPE_FM,TIME_PERIOD,OBS_VALUE,...,UNIT_INDEX_BASE,COMPILATION,COVERAGE,DECIMALS,SOURCE_AGENCY,SOURCE_PUB,TITLE,TITLE_COMPL,UNIT,UNIT_MULT
0,YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA0,B,U2,EUR,4F,G_N_A,SV_C_YM,BETA0,2023-10-20,1.384810,...,NaN,NaN,NaN,6,NaN,NaN,"Yield curve parameters, Beta 0 - Government bo...",Euro area (changing composition) - Government ...,PURE_NUMB,0
1,YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA1,B,U2,EUR,4F,G_N_A,SV_C_YM,BETA1,2023-10-20,2.360237,...,NaN,NaN,NaN,6,NaN,NaN,"Yield curve parameters, Beta 1 - Government bo...",Euro area (changing composition) - Government ...,PURE_NUMB,0
2,YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA2,B,U2,EUR,4F,G_N_A,SV_C_YM,BETA2,2023-10-20,2.266249,...,NaN,NaN,NaN,6,NaN,NaN,"Yield curve parameters, Beta 2 - Government bo...",Euro area (changing composition) - Government ...,PURE_NUMB,0
3,YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA3,B,U2,EUR,4F,G_N_A,SV_C_YM,BETA3,2023-10-20,5.475638,...,NaN,NaN,NaN,6,NaN,NaN,"Yield curve parameters, Beta 3 - Government bo...",Euro area (changing composition) - Government ...,PURE_NUMB,0
4,YC.B.U2.EUR.4F.G_N_A.SV_C_YM.IF_10M,B,U2,EUR,4F,G_N_A,SV_C_YM,IF_10M,2023-10-20,3.204561,...,NaN,NaN,NaN,6,NaN,NaN,"Yield curve instantaneous forward rate, 10-mon...",Euro area (changing composition) - Government ...,PCPA,0

**Importation of yield curve Dollar**

In [42]:
dftaux = pd.read_csv(filepath_or_buffer = './Courbe de taux 2023 $.csv',sep = ',')
dftaux.head()

,Date,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
0,10/20/2023,5.56,5.56,5.58,5.61,5.54,5.41,5.07,4.93,4.86,4.93,4.93,5.27,5.09
1,10/19/2023,5.58,5.57,5.60,5.62,5.56,5.44,5.14,5.01,4.95,5.00,4.98,5.30,5.11
2,10/18/2023,5.57,5.56,5.61,5.62,5.58,5.47,5.19,5.03,4.92,4.95,4.91,5.20,5.00
3,10/17/2023,5.58,5.58,5.62,5.64,5.60,5.48,5.19,5.01,4.86,4.88,4.83,5.14,4.94
4,10/16/2023,5.57,5.58,5.61,5.63,5.58,5.42,5.09,4.87,4.72,4.74,4.71,5.06,4.87

**Import of the Euro/Dollar exchange rate**

In [44]:
dftaux = pd.read_csv(filepath_or_buffer = './Taux de change euro dollar.csv',sep = ',')
dftaux.tail(10)

     _TIME_PERIOD  _OBS_VALUE _OBS_STATUS _OBS_CONF
6345   2023-10-10      1.0582           A         F
6346   2023-10-11      1.0604           A         F
6347   2023-10-12      1.0619           A         F
6348   2023-10-13      1.0524           A         F
6349   2023-10-16      1.0538           A         F
6350   2023-10-17      1.0569           A         F
6351   2023-10-18      1.0565           A         F
6352   2023-10-19      1.0558           A         F
6353   2023-10-20      1.0591           A         F
6354   2023-10-23      1.0597           A         F

**Importation of stock indices from Yahoo Finance**

S&P 500

In [33]:

sp500_data = yf.download('^GSPC', start='2013-10-24', end='2023-10-24', progress=False)
print(sp500_data.head())
sp500_data.size

                   Open         High          Low        Close    Adj Close  \
Date
2013-10-24  1747.479980  1753.939941  1745.500000  1752.069946  1752.069946
2013-10-25  1756.010010  1759.819946  1752.449951  1759.770020  1759.770020
2013-10-28  1759.420044  1764.989990  1757.670044  1762.109985  1762.109985
2013-10-29  1762.930054  1772.089966  1762.930054  1771.949951  1771.949951
2013-10-30  1772.270020  1775.219971  1757.239990  1763.310059  1763.310059

                Volume
Date
2013-10-24  3671700000
2013-10-25  3175720000
2013-10-28  3282300000
2013-10-29  3358460000
2013-10-30  3523040000

15096

Eurostoxx50

In [35]:
Eurostoxx50_data = yf.download('^STOXX50E', start='2013-10-24', end='2023-10-24', progress=False)
print(Eurostoxx50_data.head())
Eurostoxx50_data.size

                   Open         High          Low        Close    Adj Close  \
Date
2013-10-24  3024.689941  3038.959961  3022.280029  3038.959961  3038.959961
2013-10-25  3027.840088  3043.840088  3021.010010  3034.500000  3034.500000
2013-10-28  3041.159912  3045.139893  3009.800049  3022.040039  3022.040039
2013-10-29  3019.649902  3050.739990  3017.729980  3050.639893  3050.639893
2013-10-30  3049.090088  3073.879883  3035.020020  3040.689941  3040.689941

              Volume
Date
2013-10-24  53819900
2013-10-25  49404800
2013-10-28  51393200
2013-10-29  59850600
2013-10-30  60923400

15054

**Data normalization and dataframe creation**

In [39]:

normalized_data = sp500_data['Adj Close']

normalized_data = normalized_data.rename('S&P 500')

normalized_dfSP = pd.DataFrame(normalized_data)

normalized_dfSP.index = normalized_dfSP.index.date

print(normalized_dfSP)

                S&P 500
2013-10-24  1752.069946
2013-10-25  1759.770020
2013-10-28  1762.109985
2013-10-29  1771.949951
2013-10-30  1763.310059
...                 ...
2023-10-17  4373.200195
2023-10-18  4314.600098
2023-10-19  4278.000000
2023-10-20  4224.160156
2023-10-23  4217.040039

[2516 rows x 1 columns]

In [38]:
normalized_data2 = Eurostoxx50_data['Adj Close']

normalized_data2 = normalized_data2.rename('Eurostoxx50 ')

normalized_dfEurostoxx50 = pd.DataFrame(normalized_data2)

normalized_dfEurostoxx50.index = normalized_dfEurostoxx50.index.date

print(normalized_dfEurostoxx50)

            Eurostoxx50
2013-10-24   3038.959961
2013-10-25   3034.500000
2013-10-28   3022.040039
2013-10-29   3050.639893
2013-10-30   3040.689941
...                  ...
2023-10-17   4152.319824
2023-10-18   4105.859863
2023-10-19   4090.330078
2023-10-20   4024.679932
2023-10-23   4041.750000

[2509 rows x 1 columns]

**Dataframe merging**

In [37]:
dfindices = normalized_dfSP.merge(normalized_dfEurostoxx50, left_index=True, right_index=True)
print(dfindices)

                S&P 500  Eurostoxx50
2013-10-24  1752.069946   3038.959961
2013-10-25  1759.770020   3034.500000
2013-10-28  1762.109985   3022.040039
2013-10-29  1771.949951   3050.639893
2013-10-30  1763.310059   3040.689941
...                 ...           ...
2023-10-17  4373.200195   4152.319824
2023-10-18  4314.600098   4105.859863
2023-10-19  4278.000000   4090.330078
2023-10-20  4224.160156   4024.679932
2023-10-23  4217.040039   4041.750000

[2449 rows x 2 columns]