**Importation of libraries**

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

**Importation of Yield Curve Euro**

In [2]:
import requests
import pandas as pd
import io

DATAFLOW = "YC"
FREQ = "B"  # Daily - businessweek
REF_AREA = "U2"  # Euro area (changing composition)
CURRENCY = "EUR"
PROVIDER_FM = "4F"  # ECB
INSTRUMENT_FM = "G_N_A"  # Government bond, nominal, all issuers whose rating is triple A
PROVIDER_FM_ID = "SV_C_YM"  # Svensson model - continuous compounding - yield error minimisation
DATA_TYPE_FM = "SR_1Y+SR_3Y+SR_5Y+SR_10Y+SR_20Y+SR_30Y"

N_OBS = 600
PARAMETERS = f"lastNObservations={N_OBS}&detail=dat"
url = f"https://sdw-wsrest.ecb.europa.eu/service/data/{DATAFLOW}/{FREQ}.{REF_AREA}.{CURRENCY}.{PROVIDER_FM}.{INSTRUMENT_FM}.{PROVIDER_FM_ID}.{DATA_TYPE_FM}?{PARAMETERS}"

response = requests.get(url, headers={'Accept': 'text/csv'})
response.raise_for_status()
df = pd.read_csv(io.StringIO(response.text))
df.loc[:, "KEY"] = df.loc[:, "KEY"].str.slice(29)
df = df.set_index("TIME_PERIOD")
df.index = pd.to_datetime(df.index)
df = df.loc[:, ["KEY", "OBS_VALUE"]]
grouped = df.groupby(df.KEY)
series_lis

HTTPError: 404 Client Error:  for url: https://data-api.ecb.europa.eu/service/data/YC/B.U2.EUR.4F.G_N_A.SV_C_YM.SR_1Y+SR_3Y+SR_5Y+SR_10Y+SR_20Y+SR_30Y?lastNObservations=600&detail=dat

In [3]:
dftaux_Euro = pd.read_csv(filepath_or_buffer = './Taux Euro.csv',sep = ',')
print(dftaux_Euro.columns)
dftaux_Euro.head()

Index(['KEY', 'FREQ', 'REF_AREA', 'CURRENCY', 'PROVIDER_FM', 'INSTRUMENT_FM',
       'PROVIDER_FM_ID', 'DATA_TYPE_FM', 'TIME_PERIOD', 'OBS_VALUE',
       'OBS_STATUS', 'OBS_CONF', 'OBS_PRE_BREAK', 'OBS_COM', 'TIME_FORMAT',
       'BREAKS', 'COLLECTION', 'COMPILING_ORG', 'DISS_ORG', 'DOM_SER_IDS',
       'FM_CONTRACT_TIME', 'FM_COUPON_RATE', 'FM_IDENTIFIER', 'FM_LOT_SIZE',
       'FM_MATURITY', 'FM_OUTS_AMOUNT', 'FM_PUT_CALL', 'FM_STRIKE_PRICE',
       'PUBL_MU', 'PUBL_PUBLIC', 'UNIT_INDEX_BASE', 'COMPILATION', 'COVERAGE',
       'DECIMALS', 'SOURCE_AGENCY', 'SOURCE_PUB', 'TITLE', 'TITLE_COMPL',
       'UNIT', 'UNIT_MULT'],
      dtype='object')

,KEY,FREQ,REF_AREA,CURRENCY,PROVIDER_FM,INSTRUMENT_FM,PROVIDER_FM_ID,DATA_TYPE_FM,TIME_PERIOD,OBS_VALUE,...,UNIT_INDEX_BASE,COMPILATION,COVERAGE,DECIMALS,SOURCE_AGENCY,SOURCE_PUB,TITLE,TITLE_COMPL,UNIT,UNIT_MULT
0,YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA0,B,U2,EUR,4F,G_N_A,SV_C_YM,BETA0,2023-10-20,1.384810,...,NaN,NaN,NaN,6,NaN,NaN,"Yield curve parameters, Beta 0 - Government bo...",Euro area (changing composition) - Government ...,PURE_NUMB,0
1,YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA1,B,U2,EUR,4F,G_N_A,SV_C_YM,BETA1,2023-10-20,2.360237,...,NaN,NaN,NaN,6,NaN,NaN,"Yield curve parameters, Beta 1 - Government bo...",Euro area (changing composition) - Government ...,PURE_NUMB,0
2,YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA2,B,U2,EUR,4F,G_N_A,SV_C_YM,BETA2,2023-10-20,2.266249,...,NaN,NaN,NaN,6,NaN,NaN,"Yield curve parameters, Beta 2 - Government bo...",Euro area (changing composition) - Government ...,PURE_NUMB,0
3,YC.B.U2.EUR.4F.G_N_A.SV_C_YM.BETA3,B,U2,EUR,4F,G_N_A,SV_C_YM,BETA3,2023-10-20,5.475638,...,NaN,NaN,NaN,6,NaN,NaN,"Yield curve parameters, Beta 3 - Government bo...",Euro area (changing composition) - Government ...,PURE_NUMB,0
4,YC.B.U2.EUR.4F.G_N_A.SV_C_YM.IF_10M,B,U2,EUR,4F,G_N_A,SV_C_YM,IF_10M,2023-10-20,3.204561,...,NaN,NaN,NaN,6,NaN,NaN,"Yield curve instantaneous forward rate, 10-mon...",Euro area (changing composition) - Government ...,PCPA,0

**Importation of yield curve Dollar**

In [4]:
dftaux_Dollar = pd.read_csv(filepath_or_buffer = './Courbe de taux 2023 $.csv',sep = ',')
dftaux_Dollar.head()

,Date,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
0,10/20/2023,5.56,5.56,5.58,5.61,5.54,5.41,5.07,4.93,4.86,4.93,4.93,5.27,5.09
1,10/19/2023,5.58,5.57,5.60,5.62,5.56,5.44,5.14,5.01,4.95,5.00,4.98,5.30,5.11
2,10/18/2023,5.57,5.56,5.61,5.62,5.58,5.47,5.19,5.03,4.92,4.95,4.91,5.20,5.00
3,10/17/2023,5.58,5.58,5.62,5.64,5.60,5.48,5.19,5.01,4.86,4.88,4.83,5.14,4.94
4,10/16/2023,5.57,5.58,5.61,5.63,5.58,5.42,5.09,4.87,4.72,4.74,4.71,5.06,4.87

In [5]:
dftaux_dollar = dftaux_Dollar.loc[:, ['Date', '1 Mo', '3 Mo', '1 Yr', '5 Yr', '10 Yr']]
print(dftaux_dollar)

           Date  1 Mo  3 Mo  1 Yr  5 Yr  10 Yr
0    10/20/2023  5.56  5.58  5.41  4.86   4.93
1    10/19/2023  5.58  5.60  5.44  4.95   4.98
2    10/18/2023  5.57  5.61  5.47  4.92   4.91
3    10/17/2023  5.58  5.62  5.48  4.86   4.83
4    10/16/2023  5.57  5.61  5.42  4.72   4.71
..          ...   ...   ...   ...   ...    ...
197  01/09/2023  4.37  4.70  4.69  3.66   3.53
198  01/06/2023  4.32  4.67  4.71  3.69   3.55
199  01/05/2023  4.30  4.66  4.78  3.90   3.71
200  01/04/2023  4.20  4.55  4.71  3.85   3.69
201  01/03/2023  4.17  4.53  4.72  3.94   3.79

[202 rows x 6 columns]

In [6]:
for i in ['1 Mo', '3 Mo', '1 Yr', '5 Yr', '10 Yr']:
    dftaux_dollar[f'Return_YC_Euro_{i}'] = dftaux_dollar[i] - dftaux_dollar[i].shift(1)
dftaux_dollar.dropna(inplace=True)

In [7]:
print(dftaux_dollar)

           Date  1 Mo  3 Mo  1 Yr  5 Yr  10 Yr  Return_YC_Euro_1 Mo  \
1    10/19/2023  5.58  5.60  5.44  4.95   4.98                 0.02
2    10/18/2023  5.57  5.61  5.47  4.92   4.91                -0.01
3    10/17/2023  5.58  5.62  5.48  4.86   4.83                 0.01
4    10/16/2023  5.57  5.61  5.42  4.72   4.71                -0.01
5    10/13/2023  5.60  5.62  5.41  4.65   4.63                 0.03
..          ...   ...   ...   ...   ...    ...                  ...
197  01/09/2023  4.37  4.70  4.69  3.66   3.53                -0.04
198  01/06/2023  4.32  4.67  4.71  3.69   3.55                -0.05
199  01/05/2023  4.30  4.66  4.78  3.90   3.71                -0.02
200  01/04/2023  4.20  4.55  4.71  3.85   3.69                -0.10
201  01/03/2023  4.17  4.53  4.72  3.94   3.79                -0.03

     Return_YC_Euro_3 Mo  Return_YC_Euro_1 Yr  Return_YC_Euro_5 Yr  \
1                   0.02                 0.03                 0.09
2                   0.01                 0.03                -0.03
3                   0.01                 0.01                -0.06
4                  -0.01                -0.06                -0.14
5                   0.01                -0.01                -0.07
..                   ...                  ...                  ...
197                -0.03                -0.05                -0.06
198                -0.03                 0.02                 0.03
199                -0.01                 0.07                 0.21
200                -0.11                -0.07                -0.05
201                -0.02                 0.01                 0.09

     Return_YC_Euro_10 Yr
1                    0.05
2                   -0.07
3                   -0.08
4                   -0.12
5                   -0.08
..                    ...
197                 -0.08
198                  0.02
199                  0.16
200                 -0.02
201                  0.10

[201 rows x 11 columns]

**Importation of the Euro/Dollar exchange rate**

In [ ]:
dftaux = pd.read_csv(filepath_or_buffer = './Taux de change euro dollar.csv',sep = ',')
dftaux.tail(10)

     _TIME_PERIOD  _OBS_VALUE _OBS_STATUS _OBS_CONF
6345   2023-10-10      1.0582           A         F
6346   2023-10-11      1.0604           A         F
6347   2023-10-12      1.0619           A         F
6348   2023-10-13      1.0524           A         F
6349   2023-10-16      1.0538           A         F
6350   2023-10-17      1.0569           A         F
6351   2023-10-18      1.0565           A         F
6352   2023-10-19      1.0558           A         F
6353   2023-10-20      1.0591           A         F
6354   2023-10-23      1.0597           A         F

**Importation of stock indices from Yahoo Finance**

S&P 500

In [ ]:

sp500_data = yf.download('^GSPC', start='2013-10-24', end='2023-10-24', progress=False)
print(sp500_data.head())
sp500_data.size

                   Open         High          Low        Close    Adj Close  \
Date
2013-10-24  1747.479980  1753.939941  1745.500000  1752.069946  1752.069946
2013-10-25  1756.010010  1759.819946  1752.449951  1759.770020  1759.770020
2013-10-28  1759.420044  1764.989990  1757.670044  1762.109985  1762.109985
2013-10-29  1762.930054  1772.089966  1762.930054  1771.949951  1771.949951
2013-10-30  1772.270020  1775.219971  1757.239990  1763.310059  1763.310059

                Volume
Date
2013-10-24  3671700000
2013-10-25  3175720000
2013-10-28  3282300000
2013-10-29  3358460000
2013-10-30  3523040000

15096

Eurostoxx50

In [ ]:
Eurostoxx50_data = yf.download('^STOXX50E', start='2013-10-24', end='2023-10-24', progress=False)
print(Eurostoxx50_data.head())
Eurostoxx50_data.size

                   Open         High          Low        Close    Adj Close  \
Date
2013-10-24  3024.689941  3038.959961  3022.280029  3038.959961  3038.959961
2013-10-25  3027.840088  3043.840088  3021.010010  3034.500000  3034.500000
2013-10-28  3041.159912  3045.139893  3009.800049  3022.040039  3022.040039
2013-10-29  3019.649902  3050.739990  3017.729980  3050.639893  3050.639893
2013-10-30  3049.090088  3073.879883  3035.020020  3040.689941  3040.689941

              Volume
Date
2013-10-24  53819900
2013-10-25  49404800
2013-10-28  51393200
2013-10-29  59850600
2013-10-30  60923400

15054

***Data Cleaning***

In [ ]:
print(sp500_data.columns)

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [ ]:
sp500_data.reset_index(inplace=True)  # Réinitialise l'index pour obtenir la colonne "Date"
sp500_data = sp500_data[["Date", "Adj Close"]]
sp500_data = sp500_data.rename(columns={'Adj Close': 'sp500'})

In [ ]:
Eurostoxx50_data.reset_index(inplace=True)  # Réinitialise l'index pour obtenir la colonne "Date"
Eurostoxx50_data = Eurostoxx50_data[["Date", "Adj Close"]]
Eurostoxx50_data = Eurostoxx50_data.rename(columns={'Adj Close': 'Eurostoxx50'})

In [ ]:
print(dftaux_Euro.columns)

Index(['KEY', 'FREQ', 'REF_AREA', 'CURRENCY', 'PROVIDER_FM', 'INSTRUMENT_FM',
       'PROVIDER_FM_ID', 'DATA_TYPE_FM', 'TIME_PERIOD', 'OBS_VALUE',
       'OBS_STATUS', 'OBS_CONF', 'OBS_PRE_BREAK', 'OBS_COM', 'TIME_FORMAT',
       'BREAKS', 'COLLECTION', 'COMPILING_ORG', 'DISS_ORG', 'DOM_SER_IDS',
       'FM_CONTRACT_TIME', 'FM_COUPON_RATE', 'FM_IDENTIFIER', 'FM_LOT_SIZE',
       'FM_MATURITY', 'FM_OUTS_AMOUNT', 'FM_PUT_CALL', 'FM_STRIKE_PRICE',
       'PUBL_MU', 'PUBL_PUBLIC', 'UNIT_INDEX_BASE', 'COMPILATION', 'COVERAGE',
       'DECIMALS', 'SOURCE_AGENCY', 'SOURCE_PUB', 'TITLE', 'TITLE_COMPL',
       'UNIT', 'UNIT_MULT'],
      dtype='object')

In [ ]:
dftaux_Euro = dftaux_Euro.rename(columns={'TIME_PERIOD': 'Date'})
dftaux_Euro = dftaux_Euro.rename(columns={'OBS_VALUE': 'Taux_Euro'})
dftaux_Euro = dftaux_Euro[['Date', 'Taux_Euro']]

In [ ]:
print(dftaux_Euro.columns)

Index(['Date', 'Taux_Euro'], dtype='object')

In [ ]:
dftaux_Dollar = dftaux_Dollar.rename(columns={'TIME_PERIOD': 'Date'})
dftaux_Dollar = dftaux_Dollar.rename(columns={'OBS_VALUE': 'Taux_Dollar'})
dftaux_Dollar = dftaux_Dollar[['Date', '1 Mo', '3 Mo', '1 Yr', '3 Yr', '5 Yr']]

In [ ]:
print(dftaux_Dollar.head(10))

         Date  1 Mo  3 Mo  1 Yr  3 Yr  5 Yr
0  10/20/2023  5.56  5.58  5.41  4.93  4.86
1  10/19/2023  5.58  5.60  5.44  5.01  4.95
2  10/18/2023  5.57  5.61  5.47  5.03  4.92
3  10/17/2023  5.58  5.62  5.48  5.01  4.86
4  10/16/2023  5.57  5.61  5.42  4.87  4.72
5  10/13/2023  5.60  5.62  5.41  4.80  4.65
6  10/12/2023  5.61  5.63  5.43  4.82  4.69
7  10/11/2023  5.58  5.61  5.38  4.73  4.59
8  10/10/2023  5.60  5.61  5.37  4.74  4.62
9  10/06/2023  5.59  5.63  5.43  4.87  4.75

In [ ]:
print(dftaux.columns)

Index(['_TIME_PERIOD', '_OBS_VALUE', '_OBS_STATUS', '_OBS_CONF'], dtype='object')

In [ ]:
dftaux = dftaux.rename(columns={'_TIME_PERIOD': 'Date'})
dftaux = dftaux.rename(columns={'_OBS_VALUE': 'TauxdeChange'})
dftaux = dftaux[['Date', 'TauxdeChange']]

In [ ]:
dftaux['Date'] = pd.to_datetime(dftaux['Date'])
dftaux = pd.merge(dftaux, sp500_data, on='Date', how='inner')
dftaux = pd.merge(dftaux, Eurostoxx50_data, on='Date', how='inner')

In [ ]:
dftaux.tail(10)

           Date  TauxdeChange        sp500  Eurostoxx50
2439 2023-10-10        1.0582  4358.240234  4205.229980
2440 2023-10-11        1.0604  4376.950195  4200.799805
2441 2023-10-12        1.0619  4349.609863  4198.229980
2442 2023-10-13        1.0524  4327.779785  4136.120117
2443 2023-10-16        1.0538  4373.629883  4149.859863
2444 2023-10-17        1.0569  4373.200195  4152.319824
2445 2023-10-18        1.0565  4314.600098  4105.859863
2446 2023-10-19        1.0558  4278.000000  4090.330078
2447 2023-10-20        1.0591  4224.160156  4024.679932
2448 2023-10-23        1.0597  4217.040039  4041.750000

**Data normalization and dataframe creation**

In [ ]:
dftaux['Date'] = pd.to_datetime(dftaux['Date'])
dftaux.set_index('Date', inplace=True)
print(dftaux)

            TauxdeChange        sp500  Eurostoxx50
Date
2013-10-24        1.3805  1752.069946  3038.959961
2013-10-25        1.3777  1759.770020  3034.500000
2013-10-28        1.3784  1762.109985  3022.040039
2013-10-29        1.3768  1771.949951  3050.639893
2013-10-30        1.3755  1763.310059  3040.689941
...                  ...          ...          ...
2023-10-17        1.0569  4373.200195  4152.319824
2023-10-18        1.0565  4314.600098  4105.859863
2023-10-19        1.0558  4278.000000  4090.330078
2023-10-20        1.0591  4224.160156  4024.679932
2023-10-23        1.0597  4217.040039  4041.750000

[2449 rows x 3 columns]

**Yields calculation**

In [ ]:
import numpy as np

In [ ]:
dftaux['Log_Return_SP500'] = np.log(dftaux['sp500'] / dftaux['sp500'].shift(1))

In [ ]:
print(dftaux.head())

            TauxdeChange        sp500  Eurostoxx50  Log_Return_SP500
Date
2013-10-24        1.3805  1752.069946  3038.959961               NaN
2013-10-25        1.3777  1759.770020  3034.500000          0.004385
2013-10-28        1.3784  1762.109985  3022.040039          0.001329
2013-10-29        1.3768  1771.949951  3050.639893          0.005569
2013-10-30        1.3755  1763.310059  3040.689941         -0.004888

In [ ]:
dftaux['Log_Return_Eurostoxx50'] = np.log(dftaux['Eurostoxx50'] / dftaux['Eurostoxx50'].shift(1))

In [ ]:
dftaux = dftaux.dropna()

In [ ]:
#print(dfindices.head())
print(dftaux.head())

            TauxdeChange        sp500  Eurostoxx50  Log_Return_SP500  \
Date
2013-10-25        1.3777  1759.770020  3034.500000          0.004385
2013-10-28        1.3784  1762.109985  3022.040039          0.001329
2013-10-29        1.3768  1771.949951  3050.639893          0.005569
2013-10-30        1.3755  1763.310059  3040.689941         -0.004888
2013-10-31        1.3641  1756.540039  3067.949951         -0.003847

            Log_Return_Eurostoxx50
Date
2013-10-25               -0.001469
2013-10-28               -0.004115
2013-10-29                0.009419
2013-10-30               -0.003267
2013-10-31                0.008925

In [ ]:
dftaux['Log_Return_TauxdeChange'] = np.log(dftaux['TauxdeChange'] / dftaux['TauxdeChange'].shift(1))

In [ ]:
dftaux = dftaux.dropna()

In [ ]:
print(dftaux.head())

            TauxdeChange        sp500  Eurostoxx50  Log_Return_SP500  \
Date
2013-10-28        1.3784  1762.109985  3022.040039          0.001329
2013-10-29        1.3768  1771.949951  3050.639893          0.005569
2013-10-30        1.3755  1763.310059  3040.689941         -0.004888
2013-10-31        1.3641  1756.540039  3067.949951         -0.003847
2013-11-01        1.3505  1761.640015  3052.139893          0.002899

            Log_Return_Eurostoxx50  Log_Return_TauxdeChange
Date
2013-10-28               -0.004115                 0.000508
2013-10-29                0.009419                -0.001161
2013-10-30               -0.003267                -0.000945
2013-10-31                0.008925                -0.008322
2013-11-01               -0.005167                -0.010020

***Génération des scénarios avec la méthode de bootstrapping***

In [ ]:
#Scénarios de l'eurostoxx50
nb_scenarios = 1000
scenarios_bootstrap_Eurostoxx50 = []
for i in range(nb_scenarios):
    nv_scenario = np.random.choice(dftaux['Log_Return_Eurostoxx50'] , len(dftaux) , replace=True)    
    scenarios_bootstrap_Eurostoxx50.append(nv_scenario)
print(scenarios_bootstrap_Eurostoxx50)

scenarios_totaux=0
for i in range(len(scenarios_bootstrap_Eurostoxx50)):
    scenarios_totaux=scenarios_totaux+scenarios_bootstrap_Eurostoxx50[i]
print(scenarios_totaux)

#Scénarios du taux de change
nb_scenarios = 1000
scenarios_bootstrap_TauxdeChange = []
for i in range(nb_scenarios):
    nv_scenario = np.random.choice(dftaux['Log_Return_TauxdeChange'] , len(dftaux) , replace=True)    
    scenarios_bootstrap_TauxdeChange.append(nv_scenario)
print(scenarios_bootstrap_TauxdeChange)

scenarios_totaux=0
for i in range(len(scenarios_bootstrap_TauxdeChange)):
    scenarios_totaux=scenarios_totaux+scenarios_bootstrap_TauxdeChange[i]
print(scenarios_totaux)

#Scénarios de l'indice SP500
nb_scenarios = 1000
scenarios_bootstrap_SP500 = []
for i in range(nb_scenarios):
    nv_scenario = np.random.choice(dftaux['Log_Return_TauxdeChange'] , len(dftaux) , replace=True)    
    scenarios_bootstrap_SP500.append(nv_scenario)
print(scenarios_bootstrap_SP500)

scenarios_totaux=0
for i in range(len(scenarios_bootstrap_SP500)):
    scenarios_totaux=scenarios_totaux+scenarios_bootstrap_SP500[i]
print(scenarios_totaux)

NameError: name 'dftaux' is not defined

***Swap pricing***

In [ ]:
import xml.etree.ElementTree as ET

# Charger le fichier XML
xml_data = """
<instrumentlist xmlns="http://www.statpro.net/xml/structure/1.0"><http://www.statpro.net/xml/structure/1.0%22%3e>
  <!-- plain swap -->
  <instrument>
    <code>TEST0183</code>
    <codetype>test-dp</codetype>
    <description>Sample interest-rate swap</description>
    <currency>EUR</currency>
    <swap>
      <counterpartycode>Foo</counterpartycode>
      <fixedrateleg>
        <side>Pay</side>
        <startdate>2008-03-18</startdate>
        <maturitydate>2018-03-17</maturitydate>
        <settlementdays>2</settlementdays>
        <calendar>TARGET</calendar>
        <rollingconvention>Following</rollingconvention>
        <frequency>1</frequency>
        <adjusted>false</adjusted>
        <daycount>30/360</daycount>
        <notionals>100.0</notionals>
        <couponrates>0.04</couponrates>
      </fixedrateleg>
      <floatingrateleg>
        <side>Receive</side>
        <startdate>2008-03-18</startdate>
        <maturitydate>2018-03-17</maturitydate>
        <settlementdays>2</settlementdays>
        <calendar>TARGET</calendar>
        <rollingconvention>ModifiedFollowing</rollingconvention>
        <frequency>2</frequency>
        <adjusted>true</adjusted>
        <daycount>Act/360</daycount>
        <notionals>100.0</notionals>
        <referenceindex>EUR-Euribor-6-m</referenceindex>
        <fixingdays>2</fixingdays>
        <fixingtype>Advance</fixingtype>
        <spreads>0.002</spreads>
      </floatingrateleg>
    </swap>
  </instrument>
</instrumentlist>

"""

In [ ]:
import QuantLib as ql

# Dates
valuation_date = ql.Date(2010, 1, 1)
start_date = ql.Date(2008, 3, 18)
end_date = ql.Date(2018, 3, 17)

# Market data
discount_curve = ql.YieldTermStructureHandle(ql.FlatForward(valuation_date, ql.QuoteHandle(ql.SimpleQuote(0.03)), ql.Actual360()))

# Fixed Leg
fixed_rate = 0.04
fixed_leg = ql.FixedRateLeg(ql.Schedule(start_date, end_date, ql.Period(ql.Semiannual), ql.TARGET(), ql.ModifiedFollowing, ql.ModifiedFollowing, ql.DateGeneration.Backward, False), ql.Actual360(), [100.0], [fixed_rate])

# Floating Leg
floating_leg = ql.IborLeg([100.0], ql.Euribor(ql.Period(6, ql.Months), ql.YieldTermStructureHandle(ql.FlatForward(valuation_date, ql.QuoteHandle(ql.SimpleQuote(0.025)), ql.Actual360())))

# Swap
swap = ql.Swap(fixed_leg, floating_leg)
swap.setPricingEngine(ql.DiscountingSwapEngine(discount_curve))

# Calcul de la valeur du swap
npv = swap.NPV()
print("La valeur actuelle nette (NPV) du swap est :", npv)

SyntaxError: '(' was never closed (20086824.py, line 16)

In [ ]:
root = ET.fromstring(xml_data)

ParseError: not well-formed (invalid token): line 2, column 71 (<string>)

In [ ]:
root = ET.fromstring(xml_data)

# Accéder aux éléments du fichier XML
code = root.find(".//code").text
description = root.find(".//description").text
currency = root.find(".//currency").text

# Pour accéder aux détails de la jambe fixe et de la jambe variable, vous pouvez utiliser des boucles ou des recherches similaires.
fixed_leg = root.find(".//fixedrateleg")
floating_leg = root.find(".//floatingrateleg")

# Accéder aux éléments des jambes fixe et variable
fixed_start_date = fixed_leg.find(".//startdate").text
fixed_maturity_date = fixed_leg.find(".//maturitydate").text
# Vous pouvez faire de même pour les autres éléments.

# Traiter les données selon vos besoins

# Exemple : Imprimer certaines informations
print("Code:", code)
print("Description:", description)
print("Currency:", currency)
print("Fixed Start Date:", fixed_start_date)
print("Fixed Maturity Date:", fixed_maturity_date)

In [ ]:
from datetime import datetime, timedelta

def fixed_leg(date_calc, maturity, coupon, freq, YC):
    cashflows = []

    current_date = date_calc
    while current_date <= maturity:
        fixed_cashflow = YC(current_date) * coupon / freq
        cashflows.append({
            'date': current_date,
            'cashflow': fixed_cashflow
        })
        current_date += timedelta(days=int(360 / freq))

    return cashflows

def float_rate(date_calc, date, maturity, YC):
    # Calcul du taux forward entre date_calc et date
    rate_date_calc = YC(date_calc)
    rate_date = YC(date)
    
    # Vérifier si la différence entre les dates est non nulle
    if (date - date_calc).days != 0:
        # Supposons une interpolation linéaire pour simplifier
        forward_rate = rate_date_calc + (rate_date - rate_date_calc) / ((date - date_calc).days / 360)
        return forward_rate
    else:
        # Gérer le cas où la différence est nulle
        return rate_date



def float_leg(date_calc, maturity, float_spread, freq, YC):
    cashflows = []

    current_date = date_calc
    while current_date <= maturity:
        float_cashflow = YC(current_date) + float_spread / freq
        cashflows.append({
            'date': current_date,
            'cashflow': float_cashflow
        })
        current_date += timedelta(days=int(360 / freq))

    return cashflows

def calculate_cashflows(fixed_leg, floating_leg):
    cashflows = []

    for fixed_cf, float_cf in zip(fixed_leg, floating_leg):
        cashflows.append({
            'date': fixed_cf['date'],
            'fixed_leg_cashflow': fixed_cf['cashflow'],
            'floating_leg_cashflow': float_cf['cashflow']
        })

    return cashflows

def present_value(cashflows):
    pv = 0
    for cf in cashflows:
        pv += cf['fixed_leg_cashflow'] - cf['floating_leg_cashflow']
    return pv

# Paramètres du swap
date_calc = datetime.strptime("2008-03-18", "%Y-%m-%d")
maturity = datetime.strptime("2018-03-17", "%Y-%m-%d")

# Fonction de courbe des taux (yield curve)
def yield_curve(date):
    # Vous devrez remplacer cela par une logique réelle pour obtenir les taux du marché
    # Pour cet exemple, je retourne simplement 0.03 pour toutes les dates
    return 0.03

# Calcul des flux de trésorerie pour la jambe fixe
fixed_leg_cashflows = fixed_leg(date_calc, maturity, 0.04, 1, yield_curve)

# Calcul des flux de trésorerie pour la jambe variable
float_spread = 0.002
float_leg_cashflows = float_leg(date_calc, maturity, float_spread, 2, yield_curve)

# Calcul du taux variable pour chaque date de paiement
float_rates = [float_rate(date_calc, cf['date'], maturity, yield_curve) for cf in float_leg_cashflows]

# Ajout du taux variable aux flux de trésorerie de la jambe variable
for i in range(len(float_leg_cashflows)):
    float_leg_cashflows[i]['cashflow'] += float_rates[i]

# Calcul des flux de trésorerie combinés
cashflows = calculate_cashflows(fixed_leg_cashflows, float_leg_cashflows)

# Calcul de la valeur actuelle nette (présent value)
pv = present_value(cashflows)

print(f"La valeur actuelle nette du swap est : {pv:.2f} EUR")

La valeur actuelle nette du swap est : -0.66 EUR